flows/Path Heatmap.json
[
    {
        "id": "132824e37b73a39f",
        "type": "tab",
        "label": "Path Heatmap",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d1b6704a865efb9b",
        "type": "group",
        "z": "132824e37b73a39f",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "254f7a228279e7a1",
            "38cf914558f8933d",
            "d8cb2ace562963aa",
            "af6cc3560bc68d8b",
            "cefb95b430ce86a8",
            "9058564d113d9acc",
            "016758bfbe0c55a1",
            "00f1f18d317f6df2",
            "ed0abecc42de3d28",
            "b9fafd4bb38ca2c6",
            "fdd751a22c7c3e16",
            "7da1828cdfa7350d",
            "7a775d6d14179faf",
            "a823cfccfdad5497",
            "4703e54bc3d5e5e0",
            "f8b1ab6992503dd9",
            "b2dc85506eb20396",
            "0462a0d124a433b2",
            "9a619e8096b9f8d0",
            "85cd01033f4e5e90",
            "a70836bf84647492",
            "371dc17a2079c50b",
            "c49434cfa105ed08"
        ],
        "x": 74,
        "y": 579,
        "w": 1002,
        "h": 322
    },
    {
        "id": "eb6a9705da252c8c",
        "type": "group",
        "z": "132824e37b73a39f",
        "name": "Dashboard",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e86152962c2ba273",
            "9a7a9ff3d42f4c64",
            "d17188f0842a6de1",
            "c9df6a504da67e71",
            "8ed0e293243746ac",
            "b94c0c5e0cd58bb0",
            "41d5e5536d80a5cb",
            "b9737eb155b42dd8",
            "9b8aa202f4f05d33",
            "84168eebec1d70af",
            "0ec7c7876e7d6ee5",
            "cb895a38b7c1ac58",
            "f9c138ea45ba82bc"
        ],
        "x": 74,
        "y": 219,
        "w": 1032,
        "h": 322
    },
    {
        "id": "9267909add880399",
        "type": "group",
        "z": "132824e37b73a39f",
        "name": "Data Ingestion",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "cce336531cf495fc",
            "0c68d9adb4b5a023",
            "0b7cfefd39148ccf",
            "ac95ce55f9455e10",
            "5902ab2cee6fdd7e",
            "63ce5c84f840febd",
            "4e187f00b58625fe"
        ],
        "x": 74,
        "y": 39,
        "w": 652,
        "h": 142
    },
    {
        "id": "cce336531cf495fc",
        "type": "Objects",
        "z": "132824e37b73a39f",
        "g": "9267909add880399",
        "version": "1",
        "output": "3",
        "classFilter": "-1",
        "confidence": "10",
        "rotation": "0",
        "cog": "0",
        "predictions": "0",
        "idle": "3",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "0b7cfefd39148ccf"
            ]
        ]
    },
    {
        "id": "0c68d9adb4b5a023",
        "type": "function",
        "z": "132824e37b73a39f",
        "g": "9267909add880399",
        "name": "Set name",
        "func": "msg.payload.device = global.get(\"device\").serial;\nmsg.payload.name = flow.get(\"device\").hostname || flow.get(\"device\").name;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 80,
        "wires": [
            [
                "ac95ce55f9455e10"
            ]
        ]
    },
    {
        "id": "0b7cfefd39148ccf",
        "type": "function",
        "z": "132824e37b73a39f",
        "g": "9267909add880399",
        "name": "Filter",
        "func": "//Filter minimum distance\nvar distance = flow.get(\"distance\") || 0;\nif( msg.payload.distance < distance)  \n    return;\n\n\n//Filter minimum age\nvar age = flow.get(\"age\") || 0;\nif( msg.payload.age < age)  \n    return;\n\n//Filter object class type\nvar classes= flow.get(\"classes\");\nvar ignoreClass = true;\nclasses.forEach(function(element) {\n    if( element === msg.payload.class)\n        ignoreClass = false;\n});\nif(ignoreClass)\n    return;\n\n//Filter object passed Area Of Intrest\nvar aoi = flow.get(\"aoi\") ||null;\nif( aoi ) {\n    var ignore = true;\n    msg.payload.path.forEach(function(position) {\n        if (ignore && \n            position.x >= aoi.x1 && \n            position.x <= aoi.x2 &&\n            position.y >= aoi.y1 &&\n            position.y <= aoi.y2)\n                ignore = false;\n    });\n    if( ignore )\n        return;\n}\n\n//All filters passed\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "0c68d9adb4b5a023"
            ]
        ]
    },
    {
        "id": "254f7a228279e7a1",
        "type": "Axis device",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "",
        "preset": "8851e1ed423632f9",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 590,
        "y": 860,
        "wires": [
            [
                "d8cb2ace562963aa"
            ]
        ]
    },
    {
        "id": "38cf914558f8933d",
        "type": "inject",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "af6cc3560bc68d8b",
                "9058564d113d9acc",
                "00f1f18d317f6df2",
                "7da1828cdfa7350d",
                "371dc17a2079c50b",
                "0462a0d124a433b2",
                "9a619e8096b9f8d0"
            ]
        ]
    },
    {
        "id": "d8cb2ace562963aa",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "af6cc3560bc68d8b",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "Authentication",
        "rules": [
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "localhost",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "root",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "pass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 860,
        "wires": [
            [
                "254f7a228279e7a1"
            ]
        ]
    },
    {
        "id": "e86152962c2ba273",
        "type": "ui_button",
        "z": "132824e37b73a39f",
        "g": "eb6a9705da252c8c",
        "name": "Query",
        "group": "5df0c7c93b647371",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Query",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "9a7a9ff3d42f4c64"
            ]
        ]
    },
    {
        "id": "cefb95b430ce86a8",
        "type": "ui_dropdown",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "From",
        "label": "From",
        "tooltip": "",
        "place": "Select option",
        "group": "5df0c7c93b647371",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "today",
                "value": "today",
                "type": "str"
            },
            {
                "label": "yesterday",
                "value": "yesterday",
                "type": "str"
            },
            {
                "label": "Last 30 miniutes",
                "value": 0.5,
                "type": "num"
            },
            {
                "label": "Last hour",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Last 2 hours",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Last 3 hours",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Last 6 hours",
                "value": 6,
                "type": "num"
            },
            {
                "label": "Last 12 hours",
                "value": 12,
                "type": "num"
            },
            {
                "label": "Last day",
                "value": "24",
                "type": "str"
            },
            {
                "label": "Last 2 days",
                "value": "48",
                "type": "str"
            },
            {
                "label": "Last 7 days",
                "value": "168",
                "type": "str"
            },
            {
                "label": "Last 2 weeks",
                "value": "336",
                "type": "str"
            },
            {
                "label": "Last 4 weeks",
                "value": "672",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 570,
        "y": 660,
        "wires": [
            [
                "b9fafd4bb38ca2c6"
            ]
        ]
    },
    {
        "id": "9058564d113d9acc",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "flow.startTime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "startTime",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 660,
        "wires": [
            [
                "cefb95b430ce86a8"
            ]
        ]
    },
    {
        "id": "016758bfbe0c55a1",
        "type": "ui_dropdown",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "Period",
        "label": "Period",
        "tooltip": "",
        "place": "Select option",
        "group": "5df0c7c93b647371",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Until now",
                "value": 0,
                "type": "num"
            },
            {
                "label": "1 day",
                "value": 1,
                "type": "num"
            },
            {
                "label": "1 week",
                "value": 7,
                "type": "num"
            },
            {
                "label": "1 month",
                "value": 30,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 570,
        "y": 700,
        "wires": [
            [
                "ed0abecc42de3d28"
            ]
        ]
    },
    {
        "id": "00f1f18d317f6df2",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "stopTime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stopTime",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 700,
        "wires": [
            [
                "016758bfbe0c55a1"
            ]
        ]
    },
    {
        "id": "ed0abecc42de3d28",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stopTime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "b9fafd4bb38ca2c6",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "startTime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "9a7a9ff3d42f4c64",
        "type": "function",
        "z": "132824e37b73a39f",
        "g": "eb6a9705da252c8c",
        "name": "Query",
        "func": "var startTime = flow.get(\"startTime\") || \"today\";\nif (startTime === \"today\" || startTime === \"yesterday\") {\n    if( startTime === \"today\") {\n        var d = new Date();\n        d.setHours(0,0,0,0);\n        startTime = d.getTime();\n    }\n    if (startTime === \"yesterday\") {\n        var d = new Date();\n        d.setDate(d.getDate() - 1);\n        d.setHours(0, 0, 0, 0);\n        startTime = d.getTime();\n    }\n} else {\n    startTime = new Date().getTime() - (startTime * 3600 * 1000);\n}\n\nvar stopTime = flow.get(\"stopTime\") || 0;\n\nif( stopTime > 0 ) {\n    stopTime = startTime + (stopTime * 24 * 3600 * 1000);\n}\n\nmsg.payload = {\n    device: flow.get(\"device\").serial || \"Undefined\",\n    timestamp: {\n        $gte: startTime\n    }\n}\n\nif( stopTime > 0 )\n    msg.payload.timestam.$lte = stopTime\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 260,
        "wires": [
            [
                "d17188f0842a6de1"
            ]
        ]
    },
    {
        "id": "c9df6a504da67e71",
        "type": "ui_template",
        "z": "132824e37b73a39f",
        "g": "eb6a9705da252c8c",
        "group": "5df0c7c93b647371",
        "name": "Image",
        "order": 6,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <img id=\"{{'image_'+$id}}\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n<script>\nvar ctx = null;\nvar viewWidth = 800;\nvar viewHeight = 450;\nvar selectBox = null;\nvar boxId = \"None\";\nvar strength = 0.5;\nvar pathList = [];\n\nfunction ClearCanvas() {\n\tif(ctx) {\n\t\tctx.beginPath();\n\t\tctx.clearRect(0, 0, 1000, 1000 );\n\t\tctx.stroke();\n\t}\n}\n\nfunction setupImage( scope, data ) {\n\tvar width = data.width || 1280;\n\tvar height = data.height || 720;\n\tvar rotation = data.rotation || 0;\n\tvar aspect = data.aspect || \"16:6\";\n\n\t//Setup view area aspect ration\n\tif(rotation == 90 || rotation == 270 ) {\n    viewWidth = 450;\n    viewHeight = 800;\n\t\t$(\"#view_\"+scope.$id).css(\"width\", \"450px\");\n    $(\"#view_\"+scope.$id).css(\"height\", \"800px\");\n\t}\n\n  if(aspect === \"1:1\") {\n    viewWidth = 800;\n    viewHeight = 800;\n    $(\"#view_\"+scope.$id).css(\"width\", \"800px\");\n    $(\"#view_\"+scope.$id).css(\"height\", \"800px\");\n  }\n\t$(\"#image_\"+scope.$id).attr(\"src\",\"data:image/jpeg;base64,\" + data.image);\n\n\n\tvar canvas = document.getElementById(\"canvas_\"+scope.$id);\n  ctx = canvas.getContext(\"2d\");\n}\n\nfunction drawPath( data ) {\n  if(!ctx)\n      return;\n\n  var first = data.path[0];\n  var last = data.path[data.path.length-1];\n\n  ctx.globalAlpha = strength;\n  ctx.beginPath();\n  ctx.lineWidth = 3;\n  ctx.strokeStyle = '#00FF00';\n  ctx.font = \"30px Arial\";\n  ctx.fillStyle = '#FFFF00';    \n  ctx.moveTo(first.x, first.y );\n  ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n//  ctx.fillText(data.class, first.x, first.y - 10 );\n  ctx.stroke();\t\n\n  ctx.beginPath();\n  ctx.strokeStyle = '#FFFF00';\n  ctx.moveTo(data.path[0].x, data.path[0].y );\n  for( var i = 1; i < data.path.length; i++ )\n      ctx.lineTo(data.path[i].x,data.path[i].y );\n  ctx.lineTo(last.x,last.y );\n  ctx.stroke();\t\n\n  ctx.beginPath();\n  ctx.lineWidth = 3;\n  ctx.strokeStyle = '#FF0000';\n  ctx.moveTo(last.x, last.y );\n  ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI);\n  ctx.stroke();\t\n}\n\n\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (!msg)\n      return;\n    console.log(msg.topic);\n\n    switch( msg.topic ) {\n      case \"image\":\n          setupImage(scope,msg.payload);\n        break;\n\n      case \"path\":\n          drawPath( msg.payload );\n        break;\n\n      case \"paths\":\n          pathList = msg.payload;\n          ClearCanvas();\n          msg.payload.forEach(function(path){\n            drawPath( path );\n          });\n        break;\n\n      case \"strength\":\n          ClearCanvas();\n          strength = (parseInt(msg.payload) / 100.0 ) * 0.5;\n          pathList.forEach( function(path) {\n            drawPath( path );\n          });\n        break;\n\n      case \"reset\":\n          ClearCanvas();\n        break;\n\n      case \"aoi\":\n          if( selectBox ) {\n            selectBox.setOptions({hide: true});\n            selectBox = null;\n          }\n          if( typeof msg.payload !== \"object\" )\n            return;\n          boxId = msg.payload.id || \"None\";\n          selectBox = $(\"#image_\"+scope.$id).imgAreaSelect({\n            x1: parseInt((msg.payload.x1 / 1000) * viewWidth),\n            y1: parseInt((msg.payload.y1 / 1000) * viewHeight),\n            x2: parseInt((msg.payload.x2 / 1000) * viewWidth),\n            y2: parseInt((msg.payload.y2 / 1000) * viewHeight),\n            minHeight: 20,\n            minWidth: 20,\n            handles: true,\n            enable:true,movable:true,resizable:true,show:true,\n            instance: true,\n            onSelectEnd: function( image, area ) {\n              var box = {\n                id: boxId,\n                x1: parseInt((area.x1 / viewWidth) * 1000),\n                x2: parseInt((area.x2 / viewWidth) * 1000),\n                y1: parseInt((area.y1 / viewHeight) * 1000),\n                y2: parseInt((area.y2 / viewHeight) * 1000)\n              }\n             scope.send({topic:boxId||\"none\",payload:box});\n            }\n          });\n          selectBox.setOptions({show: true});\n        break;\n    }\n  });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 850,
        "y": 260,
        "wires": [
            [
                "9b8aa202f4f05d33"
            ]
        ]
    },
    {
        "id": "8ed0e293243746ac",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "eb6a9705da252c8c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "paths",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "c9df6a504da67e71"
            ]
        ]
    },
    {
        "id": "fdd751a22c7c3e16",
        "type": "ui_slider",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "",
        "label": "Strength",
        "tooltip": "",
        "group": "5df0c7c93b647371",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "strength",
        "topicType": "str",
        "min": "5",
        "max": "100",
        "step": "0.5",
        "className": "",
        "x": 580,
        "y": 620,
        "wires": [
            [
                "7a775d6d14179faf"
            ]
        ]
    },
    {
        "id": "7da1828cdfa7350d",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "strength",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "strength",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 620,
        "wires": [
            [
                "fdd751a22c7c3e16"
            ]
        ]
    },
    {
        "id": "7a775d6d14179faf",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "strength",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "strength",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 620,
        "wires": [
            [
                "c49434cfa105ed08"
            ]
        ]
    },
    {
        "id": "a823cfccfdad5497",
        "type": "ui_numeric",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "",
        "label": "Min Age (seconds)",
        "tooltip": "",
        "group": "4864d6922fe64847",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 610,
        "y": 780,
        "wires": [
            [
                "f8b1ab6992503dd9"
            ]
        ]
    },
    {
        "id": "4703e54bc3d5e5e0",
        "type": "ui_numeric",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "",
        "label": "Min Distance (% of view)",
        "tooltip": "",
        "group": "4864d6922fe64847",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 630,
        "y": 820,
        "wires": [
            [
                "b2dc85506eb20396"
            ]
        ]
    },
    {
        "id": "f8b1ab6992503dd9",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "b2dc85506eb20396",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "0462a0d124a433b2",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "flow.age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "age",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 780,
        "wires": [
            [
                "a823cfccfdad5497"
            ]
        ]
    },
    {
        "id": "9a619e8096b9f8d0",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "flow.distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "distance",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 820,
        "wires": [
            [
                "4703e54bc3d5e5e0"
            ]
        ]
    },
    {
        "id": "85cd01033f4e5e90",
        "type": "ui_dropdown",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "Class selection",
        "label": "",
        "tooltip": "",
        "place": "Select detection",
        "group": "4864d6922fe64847",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Motorcycle",
                "value": "Motorcycle",
                "type": "str"
            },
            {
                "label": "Other vehicle type",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "Face",
                "value": "Face",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            },
            {
                "label": "Unknown type",
                "value": "Object",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 600,
        "y": 740,
        "wires": [
            [
                "a70836bf84647492"
            ]
        ]
    },
    {
        "id": "a70836bf84647492",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "flow.classes",
        "rules": [
            {
                "t": "set",
                "p": "classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "371dc17a2079c50b",
        "type": "function",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "Classes",
        "func": "msg.options = [ \"Human\", \"Car\", \"Truck\", \"Bus\", \"Motorcycle\", \"Vehicle\", \"Face\", \"License plate\", \"Object\" ];\nif( !flow.get(\"classes\") ) {\n    msg.payload = [ \"Human\", \"Car\", \"Truck\", \"Bus\", \"Motorcycle\", \"Vehicle\" ];\n} else {\n    msg.payload = flow.get(\"classes\");\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 740,
        "wires": [
            [
                "85cd01033f4e5e90"
            ]
        ]
    },
    {
        "id": "b94c0c5e0cd58bb0",
        "type": "ui_button",
        "z": "132824e37b73a39f",
        "g": "eb6a9705da252c8c",
        "name": "",
        "group": "4864d6922fe64847",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set area objects must pass",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "41d5e5536d80a5cb"
            ]
        ]
    },
    {
        "id": "41d5e5536d80a5cb",
        "type": "function",
        "z": "132824e37b73a39f",
        "g": "eb6a9705da252c8c",
        "name": "aoi",
        "func": "msg.topic = \"aoi\";\nmsg.payload = flow.get(\"aoi\") || {\n    id: \"aoi\",\n    x1: 200,\n    y1: 200,\n    x2: 800,\n    y2: 800\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 380,
        "wires": [
            [
                "c9df6a504da67e71"
            ]
        ]
    },
    {
        "id": "b9737eb155b42dd8",
        "type": "ui_button",
        "z": "132824e37b73a39f",
        "g": "eb6a9705da252c8c",
        "name": "",
        "group": "4864d6922fe64847",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "aoi",
        "topicType": "str",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "c9df6a504da67e71"
            ]
        ]
    },
    {
        "id": "9b8aa202f4f05d33",
        "type": "change",
        "z": "132824e37b73a39f",
        "g": "eb6a9705da252c8c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c49434cfa105ed08",
        "type": "link out",
        "z": "132824e37b73a39f",
        "g": "d1b6704a865efb9b",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "84168eebec1d70af"
        ],
        "x": 1035,
        "y": 620,
        "wires": []
    },
    {
        "id": "84168eebec1d70af",
        "type": "link in",
        "z": "132824e37b73a39f",
        "g": "eb6a9705da252c8c",
        "name": "link in 1",
        "links": [
            "c49434cfa105ed08"
        ],
        "x": 665,
        "y": 500,
        "wires": [
            [
                "c9df6a504da67e71"
            ]
        ]
    },
    {
        "id": "5902ab2cee6fdd7e",
        "type": "inject",
        "z": "132824e37b73a39f",
        "g": "9267909add880399",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "63ce5c84f840febd"
            ]
        ]
    },
    {
        "id": "63ce5c84f840febd",
        "type": "function",
        "z": "132824e37b73a39f",
        "g": "9267909add880399",
        "name": "Data Retention",
        "func": "//Remove paths older than 24 hours\n\nmsg.payload = {\n    device: flow.get(\"device\").serial || \"Undefined\",\n    timestamp: {\n        $lte: new Date().getTime() - (24*3600*1000)\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "4e187f00b58625fe"
            ]
        ]
    },
    {
        "id": "0ec7c7876e7d6ee5",
        "type": "ui_button",
        "z": "132824e37b73a39f",
        "g": "eb6a9705da252c8c",
        "name": "",
        "group": "5df0c7c93b647371",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Refresh image",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "cb895a38b7c1ac58"
            ]
        ]
    },
    {
        "id": "cb895a38b7c1ac58",
        "type": "Camera",
        "z": "132824e37b73a39f",
        "g": "eb6a9705da252c8c",
        "resolution": "1280x720",
        "overlay": "no",
        "output": "base64",
        "x": 440,
        "y": 320,
        "wires": [
            [
                "f9c138ea45ba82bc"
            ]
        ]
    },
    {
        "id": "f9c138ea45ba82bc",
        "type": "function",
        "z": "132824e37b73a39f",
        "g": "eb6a9705da252c8c",
        "name": "Image",
        "func": "msg.topic = \"image\";\nmsg.payload = {\n    image: msg.payload,\n    aspect: \"16:9\",\n    rotation: 0\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 320,
        "wires": [
            [
                "c9df6a504da67e71"
            ]
        ]
    },
    {
        "id": "ac95ce55f9455e10",
        "type": "mongodb out",
        "z": "132824e37b73a39f",
        "g": "9267909add880399",
        "mongodb": "",
        "name": "Insert",
        "collection": "path",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "4e187f00b58625fe",
        "type": "mongodb out",
        "z": "132824e37b73a39f",
        "g": "9267909add880399",
        "mongodb": "",
        "name": "Remove",
        "collection": "path",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "d17188f0842a6de1",
        "type": "mongodb in",
        "z": "132824e37b73a39f",
        "g": "eb6a9705da252c8c",
        "mongodb": "",
        "name": "Query",
        "collection": "path",
        "operation": "find",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "8ed0e293243746ac"
            ]
        ]
    },
    {
        "id": "8851e1ed423632f9",
        "type": "Device Access",
        "name": "localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "5df0c7c93b647371",
        "type": "ui_group",
        "name": "Image",
        "tab": "c89e765670eae653",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4864d6922fe64847",
        "type": "ui_group",
        "name": "Filter",
        "tab": "c89e765670eae653",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c89e765670eae653",
        "type": "ui_tab",
        "name": "Path Heatmap",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
