flows/Path Ingestion.json
[
    {
        "id": "b0c955e05631ecea",
        "type": "tab",
        "label": "Path Ingestion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17dff4f1d7924cbe",
        "type": "group",
        "z": "b0c955e05631ecea",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "de8ad89c77169b44",
            "d2a34a94c09aae7e",
            "01a8998e92a69eea",
            "399f28156ae083a0",
            "660bc6e97f85eaef",
            "d0f591ebb119b947",
            "b9227fff6e8bc387",
            "d2cb8edbd00c0678",
            "f53fca800ceff183",
            "14f452d650bdfa36",
            "1f1d51b4ac224e3a",
            "163ffa95a39a125d",
            "1febc6b6ac0f6b93",
            "707f9f52ebb647da",
            "b8d27a4e6dc90a06",
            "f5d44c558b2fa753",
            "e5d437aafb53699e",
            "c82271b028db166c",
            "170342a2c3566121",
            "79dde0da2846fcb5",
            "84d519c18d031b46",
            "0475b8800ca9d45a",
            "fad719b6dc16669c",
            "453ded03a67edda9",
            "ae6a171358bb928f",
            "c867081da2da296b",
            "08ceaa878c40e8e2",
            "297a9a4f2cc028bc",
            "ad534730a187d197",
            "09f27795409780cc",
            "9c393dc205d6b947",
            "94f31cb4ba85aeb9",
            "a5cff03ce044ba62"
        ],
        "x": 94,
        "y": 659,
        "w": 1012,
        "h": 442
    },
    {
        "id": "5372695db9acf68f",
        "type": "group",
        "z": "b0c955e05631ecea",
        "name": "Data Ingestion",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3a5c770f5c5ffaba",
            "e598a976fb74c0ba",
            "9e67af390b428f5c",
            "ea2197cb6dc8e677",
            "f1ddeb66fdad0941",
            "95ee84309983433b",
            "167b1df7d8cd1ca7",
            "29bae567bdcbd3f0",
            "ddd56fc67f199e8c"
        ],
        "x": 94,
        "y": 39,
        "w": 692,
        "h": 182
    },
    {
        "id": "4724ef833182e4e6",
        "type": "group",
        "z": "b0c955e05631ecea",
        "name": "Dashboard",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "d51ecf90dc5ae52b",
            "46147f63869ff29e",
            "fc8c9a9a30886365",
            "b71f684718f25d80",
            "f90b4a11a2dbba5a",
            "4b8b3d42a5e5666b",
            "1e45ff835d4e2c4f",
            "1a49c1a2c3da127a",
            "71c2d34c9379c29d",
            "ed7ef0971c526d9e",
            "7d16effbabaf7d69",
            "44c2d52f18d1a5c4",
            "41e9bc8c1070cf51",
            "a0b46d933046d4ac",
            "bf15e014720a8544",
            "9edf9b93b3d1e2cf",
            "e50595a50f5dcee0",
            "7c2b4fbbc9605370",
            "79fceb8c854b03a1",
            "ca4ce8ea6736b676",
            "f0067c319935f753",
            "1e4f4a6529c926a3",
            "a04a5aa29bba6026",
            "63545c5c0348f243",
            "0d39d4fcf809f59c"
        ],
        "x": 94,
        "y": 279,
        "w": 1172,
        "h": 342
    },
    {
        "id": "3a5c770f5c5ffaba",
        "type": "Objects",
        "z": "b0c955e05631ecea",
        "g": "5372695db9acf68f",
        "version": "1",
        "output": "3",
        "classFilter": "-1",
        "confidence": "10",
        "rotation": "0",
        "cog": "0",
        "predictions": "0",
        "idle": "0",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "9e67af390b428f5c"
            ]
        ]
    },
    {
        "id": "e598a976fb74c0ba",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "5372695db9acf68f",
        "name": "Set name",
        "func": "msg.topic = \"path\";\nmsg.payload.device = flow.get(\"device\").serial;\nmsg.payload.name = flow.get(\"name\") || flow.get(\"device\").hostname || flow.get(\"device\").name;\n\nvar d = new Date(msg.payload.timestamp);\nmsg.payload.localTime = d.getFullYear() + '-';\nmsg.payload.localTime += (\"00\" + (d.getMonth() + 1)).slice(-2) + '-';\nmsg.payload.localTime += (\"00\" + d.getDay()).slice(-2) + ' ';\nmsg.payload.localTime += (\"00\" + d.getHours()).slice(-2) + ':';\nmsg.payload.localTime += (\"00\" + d.getMinutes()).slice(-2) + ':';\nmsg.payload.localTime += (\"00\" + d.getSeconds()).slice(-2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 80,
        "wires": [
            [
                "29bae567bdcbd3f0",
                "ea2197cb6dc8e677"
            ]
        ]
    },
    {
        "id": "9e67af390b428f5c",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "5372695db9acf68f",
        "name": "Filter",
        "func": "//Filter minimum distance\nvar distance = flow.get(\"distance\") || 0;\nif( msg.payload.distance < distance)  \n    return;\n\n//Filter minimum confidence\nvar confidence = flow.get(\"confidence\") || 10;\nif (msg.payload.confidence < confidence )\n    return;\n\n//Filter minimum age\nvar age = flow.get(\"age\") || 0;\nif( msg.payload.age < age)  \n    return;\n\n//Filter object class type\nvar classes= flow.get(\"classes\");\nvar ignoreClass = true;\nclasses.forEach(function(element) {\n    if( element === msg.payload.class)\n        ignoreClass = false;\n});\nif(ignoreClass)\n    return;\n\n//Filter object passed Area Of Intrest\nvar aoi = flow.get(\"aoi\") ||null;\nif( aoi ) {\n    var ignore = true;\n    msg.payload.path.forEach(function(position) {\n        if (ignore && \n            position.x >= aoi.x1 && \n            position.x <= aoi.x2 &&\n            position.y >= aoi.y1 &&\n            position.y <= aoi.y2)\n                ignore = false;\n    });\n    if( ignore )\n        return;\n}\n\n//All filters passed\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 80,
        "wires": [
            [
                "e598a976fb74c0ba"
            ]
        ]
    },
    {
        "id": "de8ad89c77169b44",
        "type": "Axis device",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "",
        "preset": "8851e1ed423632f9",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 610,
        "y": 940,
        "wires": [
            [
                "01a8998e92a69eea"
            ]
        ]
    },
    {
        "id": "d2a34a94c09aae7e",
        "type": "inject",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 700,
        "wires": [
            [
                "399f28156ae083a0",
                "d0f591ebb119b947",
                "f5d44c558b2fa753",
                "163ffa95a39a125d",
                "1febc6b6ac0f6b93",
                "c82271b028db166c",
                "ae6a171358bb928f",
                "297a9a4f2cc028bc",
                "94f31cb4ba85aeb9"
            ]
        ]
    },
    {
        "id": "01a8998e92a69eea",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "399f28156ae083a0",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "Authentication",
        "rules": [
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "localhost",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "root",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "pass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 940,
        "wires": [
            [
                "de8ad89c77169b44"
            ]
        ]
    },
    {
        "id": "d51ecf90dc5ae52b",
        "type": "ui_button",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "Query",
        "group": "8e38503f85f9bb51",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Show Last 24 hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "46147f63869ff29e"
            ]
        ]
    },
    {
        "id": "46147f63869ff29e",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "Query",
        "func": "msg.payload = {\n    device: flow.get(\"device\").serial || \"Undefined\",\n    timestamp: {\n        $gte: new Date().getTime() - (24 * 3600 * 1000)\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 320,
        "wires": [
            [
                "fc8c9a9a30886365"
            ]
        ]
    },
    {
        "id": "b71f684718f25d80",
        "type": "ui_template",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "group": "e157e0199999938c",
        "name": "Heatmap",
        "order": 6,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <img id=\"{{'image_'+$id}}\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\n  var ctx = null;\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar strength = 0.5;\nvar pathList = [];\nvar selectArea = null;\nvar aoi = null;\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n\n    if( selectArea )\n        selectArea.setOptions({ hide: true });\n    selectArea = null;        \n}\n\nfunction setupImage( scope, data ) {\n    var rotation = data.rotation || 0;\n    var aspect = data.aspect || \"16:9\";\n    imageWidth = 800;  //Default for 16:9\n    imageHeight = 450;\n\n    if(aspect === \"1:1\")\n        imageHeight = 800;\n\n    if(aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if(rotation === \"Portrait\" ) {\n        var temp = imageWidth;\n        imageHeight = imageWidth;\n        imageWidth = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    if( data.hasOwnProperty(\"image\") && data.image )\n        $(\"#image_\"+scope.$id).attr(\"src\",\"data:image/jpeg;base64,\" + data.image);\n    else\n        $(\"#image_\"+scope.$id).attr(\"src\",\"data:image/jpeg;base64, \");\n        \n    var canvas = document.getElementById(\"canvas_\"+scope.$id);\n    ctx = canvas.getContext(\"2d\");\n}\n\nfunction drawPath( data ) {\n    if(!ctx)\n        return;\n\n    var first = data.path[0];\n    var last = data.path[data.path.length-1];\n\n    ctx.globalAlpha = strength;\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#00FF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.moveTo(first.x, first.y );\n    ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n    // ctx.fillText(data.class, first.x, first.y - 10 );\n    ctx.stroke();\n\n    ctx.beginPath();\n    ctx.strokeStyle = '#FFFF00';\n    ctx.moveTo(data.path[0].x, data.path[0].y );\n    for( var i = 1; i < data.path.length; i++ )\n        ctx.lineTo(data.path[i].x,data.path[i].y ); ctx.lineTo(last.x,last.y );\n    ctx.stroke(); ctx.beginPath();\n    ctx.lineWidth=3;\n    ctx.strokeStyle='#FF0000';\n    ctx.moveTo(last.x, last.y );\n    ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI); ctx.stroke();\n}\n\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"image\":\n            ClearCanvas();\n            setupImage(scope,msg.payload);\n            break;\n\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"singlePath\":\n            ClearCanvas();\n            drawPath( msg.payload );\n            break;\n\n        case \"paths\":\n            ClearCanvas();\n            pathList = msg.payload;\n            msg.payload.forEach(function(path){\n                drawPath( path );\n            });\n            break;\n\n        case \"strength\":\n            ClearCanvas();\n            strength = (parseInt(msg.payload) / 100.0 ) * 0.5;\n            pathList.forEach( function(path) {\n                drawPath( path );\n            });\n            break;\n\n        case \"reset\":\n            ClearCanvas();\n            break;\n\n        case \"aoi\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            if( typeof msg.payload !== \"object\" )\n                return;\n            aoi = msg.payload.id || \"None\";\n            selectArea = $(\"#image_\"+scope.$id).imgAreaSelect({\n                x1: parseInt((msg.payload.x1 / 1000) * imageWidth),\n                y1: parseInt((msg.payload.y1 / 1000) * imageHeight),\n                x2: parseInt((msg.payload.x2 / 1000) * imageWidth),\n                y2: parseInt((msg.payload.y2 / 1000) * imageHeight),\n                minHeight: 20,\n                minWidth: 20,\n                handles: true,\n                enable:true,movable:true,resizable:true,show:true,\n                instance: true,\n                onSelectEnd: function( image, area ) {\n                var box = {\n                    id: aoi,\n                    x1: parseInt((area.x1 / imageWidth) * 1000),\n                    x2: parseInt((area.x2 / imageWidth) * 1000),\n                    y1: parseInt((area.y1 / imageHeight) * 1000),\n                    y2: parseInt((area.y2 / imageHeight) * 1000)\n                }\n                scope.send({topic:aoi||\"none\",payload:box});\n                }\n            });\n            selectArea.setOptions({show: true});\n            break;\n            case \"birth\":\n            case \"death\":\n                aoi = msg.payload.id || \"None\";\n                if(!selectArea) {\n                    selectArea = $(\"#image_\"+scope.$id).imgAreaSelect( {\n                        x1: parseInt(msg.payload.x1 / 1000 * imageWidth),\n                        x2: parseInt(msg.payload.x2 / 1000 * imageWidth),\n                        y1: parseInt(msg.payload.y1 / 1000 * imageHeight),\n                        y2: parseInt(msg.payload.y2 / 1000 * imageHeight),\n                        show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                        onSelectEnd: function( image, area ) {\n                            var area = {\n                                id: aoi,\n                                x1: parseInt((area.x1/imageWidth) * 1000),\n                                x2: parseInt((area.x2/imageWidth) * 1000),\n                                y1: parseInt((area.y1/imageHeight) * 1000),\n                                y2: parseInt((area.y2/imageHeight) * 1000)\n                            }\n                            scope.send({\n                                topic: aoi,\n                                payload: area\n                            });\n                        }\n                    });\n                }\n                selectArea.setSelection(\n                    parseInt(msg.payload.x1 / 1000 * imageWidth),\n                    parseInt(msg.payload.y1 / 1000 * imageHeight),\n                    parseInt(msg.payload.x2 / 1000 * imageWidth),\n                    parseInt(msg.payload.y2 / 1000 * imageHeight)\n                );\n                selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 320,
        "wires": [
            [
                "71c2d34c9379c29d"
            ]
        ]
    },
    {
        "id": "f90b4a11a2dbba5a",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "paths",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "b71f684718f25d80",
                "ca4ce8ea6736b676"
            ]
        ]
    },
    {
        "id": "660bc6e97f85eaef",
        "type": "ui_slider",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "",
        "label": "Strength",
        "tooltip": "",
        "group": "e157e0199999938c",
        "order": 5,
        "width": "13",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "strength",
        "topicType": "str",
        "min": "5",
        "max": "100",
        "step": "0.5",
        "className": "",
        "x": 600,
        "y": 700,
        "wires": [
            [
                "b9227fff6e8bc387"
            ]
        ]
    },
    {
        "id": "d0f591ebb119b947",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "strength",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "strength",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 700,
        "wires": [
            [
                "660bc6e97f85eaef"
            ]
        ]
    },
    {
        "id": "b9227fff6e8bc387",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "strength",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "strength",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 700,
        "wires": [
            [
                "e5d437aafb53699e"
            ]
        ]
    },
    {
        "id": "d2cb8edbd00c0678",
        "type": "ui_numeric",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "",
        "label": "Min Age (seconds)",
        "tooltip": "",
        "group": "81c3a7487f122c15",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 630,
        "y": 860,
        "wires": [
            [
                "14f452d650bdfa36"
            ]
        ]
    },
    {
        "id": "f53fca800ceff183",
        "type": "ui_numeric",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "",
        "label": "Min Distance (% of view)",
        "tooltip": "",
        "group": "81c3a7487f122c15",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 650,
        "y": 900,
        "wires": [
            [
                "1f1d51b4ac224e3a"
            ]
        ]
    },
    {
        "id": "14f452d650bdfa36",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "1f1d51b4ac224e3a",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "163ffa95a39a125d",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "flow.age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "age",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 860,
        "wires": [
            [
                "d2cb8edbd00c0678"
            ]
        ]
    },
    {
        "id": "1febc6b6ac0f6b93",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "flow.distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "distance",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 900,
        "wires": [
            [
                "f53fca800ceff183"
            ]
        ]
    },
    {
        "id": "707f9f52ebb647da",
        "type": "ui_dropdown",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "Class selection",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "81c3a7487f122c15",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Motorcycle",
                "value": "Motorcycle",
                "type": "str"
            },
            {
                "label": "Other vehicle type",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "Face",
                "value": "Face",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            },
            {
                "label": "Unknown type",
                "value": "Object",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 620,
        "y": 820,
        "wires": [
            [
                "b8d27a4e6dc90a06"
            ]
        ]
    },
    {
        "id": "b8d27a4e6dc90a06",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "flow.classes",
        "rules": [
            {
                "t": "set",
                "p": "classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "f5d44c558b2fa753",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "Classes",
        "func": "msg.options = [ \"Human\", \"Car\", \"Truck\", \"Bus\", \"Motorcycle\", \"Vehicle\", \"Face\", \"License plate\", \"Object\" ];\nif( !flow.get(\"classes\") ) {\n    msg.payload = [ \"Human\", \"Car\", \"Truck\", \"Bus\", \"Motorcycle\", \"Vehicle\" ];\n} else {\n    msg.payload = flow.get(\"classes\");\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 820,
        "wires": [
            [
                "707f9f52ebb647da"
            ]
        ]
    },
    {
        "id": "4b8b3d42a5e5666b",
        "type": "ui_button",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "",
        "group": "81c3a7487f122c15",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set area objects must pass",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "1e45ff835d4e2c4f"
            ]
        ]
    },
    {
        "id": "1e45ff835d4e2c4f",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "aoi",
        "func": "msg.topic = \"aoi\";\nmsg.payload = flow.get(\"aoi\") || {\n    id: \"aoi\",\n    x1: 200,\n    y1: 200,\n    x2: 800,\n    y2: 800\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 400,
        "wires": [
            [
                "b71f684718f25d80"
            ]
        ]
    },
    {
        "id": "1a49c1a2c3da127a",
        "type": "ui_button",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "",
        "group": "81c3a7487f122c15",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "aoi",
        "topicType": "str",
        "x": 670,
        "y": 440,
        "wires": [
            [
                "b71f684718f25d80"
            ]
        ]
    },
    {
        "id": "71c2d34c9379c29d",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e5d437aafb53699e",
        "type": "link out",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "ed7ef0971c526d9e"
        ],
        "x": 1055,
        "y": 700,
        "wires": []
    },
    {
        "id": "ed7ef0971c526d9e",
        "type": "link in",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "link in 1",
        "links": [
            "e5d437aafb53699e",
            "29bae567bdcbd3f0",
            "a04a5aa29bba6026"
        ],
        "x": 635,
        "y": 360,
        "wires": [
            [
                "b71f684718f25d80"
            ]
        ]
    },
    {
        "id": "f1ddeb66fdad0941",
        "type": "inject",
        "z": "b0c955e05631ecea",
        "g": "5372695db9acf68f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "95ee84309983433b"
            ]
        ]
    },
    {
        "id": "95ee84309983433b",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "5372695db9acf68f",
        "name": "Data Retention",
        "func": "var days = flow.get(\"retention\") || 31;\n//Change above to desired number of days to retain data\n\nmsg.payload = {\n    device: flow.get(\"device\").serial || \"Undefined\",\n    timestamp: {\n        $lte: new Date().getTime() - (days * 24 * 3600 * 1000)\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "167b1df7d8cd1ca7"
            ]
        ]
    },
    {
        "id": "7d16effbabaf7d69",
        "type": "ui_button",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "",
        "group": "e157e0199999938c",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Refresh image",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "f0067c319935f753"
            ]
        ]
    },
    {
        "id": "44c2d52f18d1a5c4",
        "type": "Camera",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "resolution": "1280x720",
        "overlay": "no",
        "output": "base64",
        "x": 620,
        "y": 520,
        "wires": [
            [
                "41e9bc8c1070cf51"
            ]
        ]
    },
    {
        "id": "41e9bc8c1070cf51",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "Image",
        "func": "msg.topic = \"image\";\nvar image = msg.payload;\nmsg.payload = flow.get(\"camera\");\nmsg.payload.image = image;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 520,
        "wires": [
            [
                "b71f684718f25d80",
                "bf15e014720a8544"
            ]
        ]
    },
    {
        "id": "bf15e014720a8544",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "Update",
        "func": "msg.query = {\n    device: flow.get(\"device\").serial || \"Undefined\"\n}\n\nmsg.payload = {\n    device: flow.get(\"device\").serial || \"Undefined\",\n    name: flow.get(\"name\") || flow.get(\"device\").hostname || flow.get(\"device\").name,\n    timestamp: new Date().getTime(),\n    rotation: msg.payload.rotation,\n    aspect: msg.payload.aspect,\n    image: msg.payload.image\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 520,
        "wires": [
            [
                "a0b46d933046d4ac",
                "63545c5c0348f243"
            ]
        ]
    },
    {
        "id": "9edf9b93b3d1e2cf",
        "type": "inject",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "Every hour",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 560,
        "wires": [
            [
                "f0067c319935f753"
            ]
        ]
    },
    {
        "id": "e50595a50f5dcee0",
        "type": "ui_ui_control",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "",
        "events": "all",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "7c2b4fbbc9605370"
            ]
        ]
    },
    {
        "id": "7c2b4fbbc9605370",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "Tab",
        "func": "if( msg.payload !== \"change\")\n    return;\nif( msg.name !== \"Path heatmap\")\n    return\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 480,
        "wires": [
            [
                "f0067c319935f753"
            ]
        ]
    },
    {
        "id": "167b1df7d8cd1ca7",
        "type": "mongodb out",
        "z": "b0c955e05631ecea",
        "g": "5372695db9acf68f",
        "mongodb": "",
        "name": "Remove",
        "collection": "path",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "a0b46d933046d4ac",
        "type": "mongodb out",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "mongodb": "",
        "name": "Update",
        "collection": "image",
        "payonly": true,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 1090,
        "y": 520,
        "wires": []
    },
    {
        "id": "fc8c9a9a30886365",
        "type": "mongodb in",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "mongodb": "",
        "name": "Query",
        "collection": "path",
        "operation": "find",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "f90b4a11a2dbba5a"
            ]
        ]
    },
    {
        "id": "170342a2c3566121",
        "type": "ui_dropdown",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "Aspect",
        "label": "Image aspect",
        "tooltip": "",
        "place": "Select aspect",
        "group": "81c3a7487f122c15",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "16:9",
                "value": "16:9",
                "type": "str"
            },
            {
                "label": "4:3",
                "value": "4:3",
                "type": "str"
            },
            {
                "label": "1:1",
                "value": "1:1",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "aspect",
        "topicType": "str",
        "className": "",
        "x": 780,
        "y": 980,
        "wires": [
            [
                "79dde0da2846fcb5"
            ]
        ]
    },
    {
        "id": "79dde0da2846fcb5",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "flow.camera",
        "func": "var camera = flow.get(\"camera\");\nswitch(msg.topic) {\n    case \"aspect\":\n        camera.aspect = msg.payload;\n        break;\n    case \"rotation\":\n        camera.rotation = msg.payload;\n        break;\n}\n\nflow.set(\"camera\",camera);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 980,
        "wires": [
            [
                "453ded03a67edda9"
            ]
        ]
    },
    {
        "id": "c82271b028db166c",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "flow.camera",
        "func": "msg.payload = flow.get(\"camera\") || {\n    aspect: \"16:9\",\n    rotation: \"Landscape\",\n    image: \"\"\n}    \nflow.set(\"camera\",msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 980,
        "wires": [
            [
                "84d519c18d031b46",
                "fad719b6dc16669c"
            ]
        ]
    },
    {
        "id": "84d519c18d031b46",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.aspect",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 980,
        "wires": [
            [
                "170342a2c3566121"
            ]
        ]
    },
    {
        "id": "0475b8800ca9d45a",
        "type": "ui_dropdown",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "Rotation",
        "label": "Image rotation",
        "tooltip": "",
        "place": "Select rotation",
        "group": "81c3a7487f122c15",
        "order": 8,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Landscape",
                "value": "Landscape",
                "type": "str"
            },
            {
                "label": "Portrait",
                "value": "Portrait",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "rotation",
        "topicType": "str",
        "className": "",
        "x": 780,
        "y": 1020,
        "wires": [
            [
                "79dde0da2846fcb5"
            ]
        ]
    },
    {
        "id": "fad719b6dc16669c",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rotation",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1020,
        "wires": [
            [
                "0475b8800ca9d45a"
            ]
        ]
    },
    {
        "id": "79fceb8c854b03a1",
        "type": "link in",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "link in 2",
        "links": [
            "453ded03a67edda9"
        ],
        "x": 355,
        "y": 560,
        "wires": [
            [
                "f0067c319935f753"
            ]
        ]
    },
    {
        "id": "453ded03a67edda9",
        "type": "link out",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "79fceb8c854b03a1"
        ],
        "x": 1065,
        "y": 980,
        "wires": []
    },
    {
        "id": "ca4ce8ea6736b676",
        "type": "ui_table",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "group": "8e38503f85f9bb51",
        "name": "",
        "order": 0,
        "width": "14",
        "height": "16",
        "columns": [
            {
                "field": "localTime",
                "title": "Time",
                "width": "30%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "class",
                "title": "Class",
                "width": "18%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "confidence",
                "title": "Confidence",
                "width": "18%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "age",
                "title": "Age",
                "width": "16%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "distance",
                "title": "DIstance",
                "width": "18%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 910,
        "y": 360,
        "wires": [
            [
                "1e4f4a6529c926a3"
            ]
        ]
    },
    {
        "id": "f0067c319935f753",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "Resolution",
        "func": "var camera = flow.get(\"camera\");\nif(!camera)\n    return;\n\nswitch( camera.aspect ) {\n    case \"4:3\":\n        msg.resolution = \"800x600\"\n        break;\n    case \"1:1\":\n        msg.resolution = \"800x800\"\n        break;\n    case \"16:9\":\n    default:\n        msg.resolution = \"1280x720\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 520,
        "wires": [
            [
                "44c2d52f18d1a5c4"
            ]
        ]
    },
    {
        "id": "29bae567bdcbd3f0",
        "type": "link out",
        "z": "b0c955e05631ecea",
        "g": "5372695db9acf68f",
        "name": "Path",
        "mode": "link",
        "links": [
            "ed7ef0971c526d9e",
            "9cb301453293eccd"
        ],
        "x": 635,
        "y": 140,
        "wires": []
    },
    {
        "id": "1e4f4a6529c926a3",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "singlePath",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 360,
        "wires": [
            [
                "a04a5aa29bba6026"
            ]
        ]
    },
    {
        "id": "a04a5aa29bba6026",
        "type": "link out",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "ed7ef0971c526d9e"
        ],
        "x": 1225,
        "y": 360,
        "wires": []
    },
    {
        "id": "ae6a171358bb928f",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "name",
        "func": "msg.payload = flow.get(\"name\") || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 740,
        "wires": [
            [
                "c867081da2da296b"
            ]
        ]
    },
    {
        "id": "c867081da2da296b",
        "type": "ui_text_input",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "",
        "label": "Name",
        "tooltip": "",
        "group": "81c3a7487f122c15",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 590,
        "y": 740,
        "wires": [
            [
                "08ceaa878c40e8e2"
            ]
        ]
    },
    {
        "id": "08ceaa878c40e8e2",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "flow.name",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "297a9a4f2cc028bc",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "Confidence",
        "func": "msg.payload = flow.get(\"confidence\") || 10;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 780,
        "wires": [
            [
                "ad534730a187d197"
            ]
        ]
    },
    {
        "id": "ad534730a187d197",
        "type": "ui_dropdown",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "Confidence selection",
        "label": "Min confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "81c3a7487f122c15",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 640,
        "y": 780,
        "wires": [
            [
                "09f27795409780cc"
            ]
        ]
    },
    {
        "id": "09f27795409780cc",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "flow.confidence",
        "rules": [
            {
                "t": "set",
                "p": "confidence",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "ea2197cb6dc8e677",
        "type": "mongodb out",
        "z": "b0c955e05631ecea",
        "g": "5372695db9acf68f",
        "mongodb": "",
        "name": "Insert",
        "collection": "path",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "63545c5c0348f243",
        "type": "link out",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "Image",
        "mode": "link",
        "links": [
            "a15093f2faccc1f5"
        ],
        "x": 1055,
        "y": 580,
        "wires": []
    },
    {
        "id": "ddd56fc67f199e8c",
        "type": "comment",
        "z": "b0c955e05631ecea",
        "g": "5372695db9acf68f",
        "name": "path",
        "info": "",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "0d39d4fcf809f59c",
        "type": "comment",
        "z": "b0c955e05631ecea",
        "g": "4724ef833182e4e6",
        "name": "image",
        "info": "",
        "x": 1130,
        "y": 580,
        "wires": []
    },
    {
        "id": "9c393dc205d6b947",
        "type": "change",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "flow.retention",
        "rules": [
            {
                "t": "set",
                "p": "retention",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "94f31cb4ba85aeb9",
        "type": "function",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "retention",
        "func": "msg.payload = flow.get(\"retention\") || 31;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1060,
        "wires": [
            [
                "a5cff03ce044ba62"
            ]
        ]
    },
    {
        "id": "a5cff03ce044ba62",
        "type": "ui_dropdown",
        "z": "b0c955e05631ecea",
        "g": "17dff4f1d7924cbe",
        "name": "Retention period",
        "label": "Retention",
        "tooltip": "",
        "place": "Select detection",
        "group": "81c3a7487f122c15",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "1 day",
                "value": 1,
                "type": "num"
            },
            {
                "label": "1 week",
                "value": 7,
                "type": "num"
            },
            {
                "label": "2 weeks",
                "value": 14,
                "type": "num"
            },
            {
                "label": "1 month",
                "value": 31,
                "type": "num"
            },
            {
                "label": "2 months",
                "value": 61,
                "type": "num"
            },
            {
                "label": "3 months",
                "value": 91,
                "type": "num"
            },
            {
                "label": "6 months",
                "value": 185,
                "type": "num"
            },
            {
                "label": "1 year",
                "value": "365",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 630,
        "y": 1060,
        "wires": [
            [
                "9c393dc205d6b947"
            ]
        ]
    },
    {
        "id": "8851e1ed423632f9",
        "type": "Device Access",
        "name": "localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "8e38503f85f9bb51",
        "type": "ui_group",
        "name": "Table",
        "tab": "81ec883ec38bb949",
        "order": 4,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e157e0199999938c",
        "type": "ui_group",
        "name": "Heatmap",
        "tab": "81ec883ec38bb949",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81c3a7487f122c15",
        "type": "ui_group",
        "name": "Settings",
        "tab": "81ec883ec38bb949",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81ec883ec38bb949",
        "type": "ui_tab",
        "name": "Path Ingestion",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
