flows/Path Ingestion.json
[
    {
        "id": "e7e00ee978d3ba17",
        "type": "tab",
        "label": "Path Ingestion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd9a131423c46d3d",
        "type": "group",
        "z": "e7e00ee978d3ba17",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ef9894706ad02e0b",
            "d82b83f43fa51008",
            "5d9c04fc4bd19903",
            "8a7713f55081d140",
            "d2666e7dc9fd19e4",
            "305d751beed0fb75",
            "acd5e94d6e601bd2",
            "1da8b74e8dd85804",
            "88325b2f69f348e7",
            "f2bba8c8622cbd9a",
            "8f43a040405ad1bf",
            "bf9a90279602f114",
            "a1a1317554ec9f42",
            "b03c36ad180ab7b3",
            "d7bab374b2fc3594",
            "af336bbaeb09bc1e",
            "0e4252bd65a5df23",
            "d8bd419441bad68f",
            "ed4aa8e7b7dc9b02",
            "880e5ac7cb738de5",
            "67f18e799dff5199",
            "2dfd43a206c929d6",
            "b98bb15092ccfb27",
            "fc0b1ab7563f0da7",
            "a1ea8f059a34decd",
            "d756fc37a9bdfdbf",
            "f0bc18daf3fb8b9c",
            "35376f79b2d3a2e8",
            "37840460d19f7213",
            "330956ac1634cf73"
        ],
        "x": 94,
        "y": 659,
        "w": 1012,
        "h": 402
    },
    {
        "id": "6ec657ea73f13536",
        "type": "group",
        "z": "e7e00ee978d3ba17",
        "name": "Data Ingestion",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "99a5b6eae33524d0",
            "10b478f124e0c377",
            "e200ce052518f004",
            "025326aff71002bd",
            "273965d4c36db0da",
            "f3f71084a066bce3",
            "ee9ef2438615bdfd",
            "dcfabc372e3dc197"
        ],
        "x": 94,
        "y": 39,
        "w": 692,
        "h": 182
    },
    {
        "id": "0e2d668daf0278ba",
        "type": "group",
        "z": "e7e00ee978d3ba17",
        "name": "Dashboard",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "6142a0504e14e1a6",
            "fcc5886e4aadd570",
            "3b4bcf8cb5d85e97",
            "f031690982b2c931",
            "92a43414ebe67856",
            "ef7a23510f1b8312",
            "0eb13c442166987d",
            "d4022565d5ef248b",
            "c04894acbcc047c3",
            "c434fc4038a69c01",
            "080a22203e2e06ea",
            "cf7c96a415037ce5",
            "f01e249eb3657960",
            "c060942c8eb1324d",
            "c7d73f9bfebb6a64",
            "97a0add6ed4182ff",
            "5f3e417dce2a731e",
            "fb642bec0ba2f1cd",
            "c1ead8be70d916cd",
            "0454fa8ce9e33224",
            "4be7183bedd5dbef"
        ],
        "x": 94,
        "y": 279,
        "w": 1192,
        "h": 322
    },
    {
        "id": "99a5b6eae33524d0",
        "type": "Objects",
        "z": "e7e00ee978d3ba17",
        "g": "6ec657ea73f13536",
        "version": "1",
        "output": "3",
        "classFilter": "-1",
        "confidence": "30",
        "rotation": "270",
        "cog": "0",
        "predictions": "0",
        "idle": "1",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "e200ce052518f004"
            ]
        ]
    },
    {
        "id": "10b478f124e0c377",
        "type": "function",
        "z": "e7e00ee978d3ba17",
        "g": "6ec657ea73f13536",
        "name": "Set name",
        "func": "msg.topic = \"path\";\nmsg.payload.device = flow.get(\"device\").serial;\nmsg.payload.name = flow.get(\"name\") || flow.get(\"device\").hostname || flow.get(\"device\").name;\n\nvar d = new Date(msg.payload.timestamp);\nmsg.payload.localTime = d.getFullYear() + '-';\nmsg.payload.localTime += (\"00\" + (d.getMonth() + 1)).slice(-2) + '-';\nmsg.payload.localTime += (\"00\" + d.getDate()).slice(-2) + ' ';\nmsg.payload.localTime += (\"00\" + d.getHours()).slice(-2) + ':';\nmsg.payload.localTime += (\"00\" + d.getMinutes()).slice(-2) + ':';\nmsg.payload.localTime += (\"00\" + d.getSeconds()).slice(-2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 80,
        "wires": [
            [
                "dcfabc372e3dc197",
                "025326aff71002bd"
            ]
        ]
    },
    {
        "id": "e200ce052518f004",
        "type": "function",
        "z": "e7e00ee978d3ba17",
        "g": "6ec657ea73f13536",
        "name": "Filter",
        "func": "//Filter minimum distance\nvar distance = flow.get(\"distance\") || 0;\nif( msg.payload.distance < distance)  \n    return;\n\n//Filter minimum confidence\nvar confidence = flow.get(\"confidence\") || 10;\nif( msg.payload.confidnece < confidence )\n    return;\n\n//Filter minimum age\nvar age = flow.get(\"age\") || 0;\nif( msg.payload.age < age)  \n    return;\n\n//Filter object class type\nvar classes= flow.get(\"classes\");\nvar ignoreClass = true;\nclasses.forEach(function(element) {\n    if( element === msg.payload.class)\n        ignoreClass = false;\n});\nif(ignoreClass)\n    return;\n\n//Filter object passed Area Of Intrest\nvar aoi = flow.get(\"aoi\") ||null;\nif( aoi ) {\n    var ignore = true;\n    msg.payload.path.forEach(function(position) {\n        if (ignore && \n            position.x >= aoi.x1 && \n            position.x <= aoi.x2 &&\n            position.y >= aoi.y1 &&\n            position.y <= aoi.y2)\n                ignore = false;\n    });\n    if( ignore )\n        return;\n}\n\n//All filters passed\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 80,
        "wires": [
            [
                "10b478f124e0c377"
            ]
        ]
    },
    {
        "id": "ef9894706ad02e0b",
        "type": "Axis device",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "",
        "preset": "8851e1ed423632f9",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 610,
        "y": 940,
        "wires": [
            [
                "5d9c04fc4bd19903"
            ]
        ]
    },
    {
        "id": "d82b83f43fa51008",
        "type": "inject",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 700,
        "wires": [
            [
                "8a7713f55081d140",
                "305d751beed0fb75",
                "af336bbaeb09bc1e",
                "bf9a90279602f114",
                "a1a1317554ec9f42",
                "d8bd419441bad68f",
                "a1ea8f059a34decd",
                "35376f79b2d3a2e8"
            ]
        ]
    },
    {
        "id": "5d9c04fc4bd19903",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "8a7713f55081d140",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "Authentication",
        "rules": [
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "localhost",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "root",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "pass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 940,
        "wires": [
            [
                "ef9894706ad02e0b"
            ]
        ]
    },
    {
        "id": "6142a0504e14e1a6",
        "type": "ui_button",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "Query",
        "group": "c503712eb42ad81a",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Show Last 24 hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "fcc5886e4aadd570"
            ]
        ]
    },
    {
        "id": "fcc5886e4aadd570",
        "type": "function",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "Query",
        "func": "msg.payload = {\n    device: flow.get(\"device\").serial || \"Undefined\",\n    timestamp: {\n        $gte: new Date().getTime() - (24 * 3600 * 1000)\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 320,
        "wires": [
            [
                "3b4bcf8cb5d85e97"
            ]
        ]
    },
    {
        "id": "f031690982b2c931",
        "type": "ui_template",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "group": "45db6a3eb8460311",
        "name": "Heatmap",
        "order": 6,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <img id=\"{{'image_'+$id}}\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\n  var ctx = null;\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar strength = 0.5;\nvar pathList = [];\nvar selectArea = null;\nvar aoi = null;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"image\":\n            ClearCanvas();\n            setupImage(scope,msg.payload);\n            break;\n\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"singlePath\":\n            ClearCanvas();\n            drawPath( msg.payload );\n            break;\n\n        case \"paths\":\n            ClearCanvas();\n            pathList = msg.payload;\n            msg.payload.forEach(function(path){\n                drawPath( path );\n            });\n            break;\n\n        case \"strength\":\n            ClearCanvas();\n            strength = (parseInt(msg.payload) / 100.0 ) * 0.5;\n            pathList.forEach( function(path) {\n                drawPath( path );\n            });\n            break;\n\n        case \"reset\":\n            ClearCanvas();\n            break;\n\n        case \"aoi\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            if( typeof msg.payload !== \"object\" )\n                return;\n            aoi = msg.payload.id || \"None\";\n            selectArea = $(\"#image_\"+scope.$id).imgAreaSelect({\n                x1: parseInt((msg.payload.x1 / 1000) * imageWidth),\n                y1: parseInt((msg.payload.y1 / 1000) * imageHeight),\n                x2: parseInt((msg.payload.x2 / 1000) * imageWidth),\n                y2: parseInt((msg.payload.y2 / 1000) * imageHeight),\n                minHeight: 20,\n                minWidth: 20,\n                handles: true,\n                enable:true,movable:true,resizable:true,show:true,\n                instance: true,\n                onSelectEnd: function( image, area ) {\n                var box = {\n                    id: aoi,\n                    x1: parseInt((area.x1 / imageWidth) * 1000),\n                    x2: parseInt((area.x2 / imageWidth) * 1000),\n                    y1: parseInt((area.y1 / imageHeight) * 1000),\n                    y2: parseInt((area.y2 / imageHeight) * 1000)\n                }\n                scope.send({topic:aoi||\"none\",payload:box});\n                }\n            });\n            selectArea.setOptions({show: true});\n            break;\n            case \"birth\":\n            case \"death\":\n                aoi = msg.payload.id || \"None\";\n                if(!selectArea) {\n                    selectArea = $(\"#image_\"+scope.$id).imgAreaSelect( {\n                        x1: parseInt(msg.payload.x1 / 1000 * imageWidth),\n                        x2: parseInt(msg.payload.x2 / 1000 * imageWidth),\n                        y1: parseInt(msg.payload.y1 / 1000 * imageHeight),\n                        y2: parseInt(msg.payload.y2 / 1000 * imageHeight),\n                        show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                        onSelectEnd: function( image, area ) {\n                            var area = {\n                                id: aoi,\n                                x1: parseInt((area.x1/imageWidth) * 1000),\n                                x2: parseInt((area.x2/imageWidth) * 1000),\n                                y1: parseInt((area.y1/imageHeight) * 1000),\n                                y2: parseInt((area.y2/imageHeight) * 1000)\n                            }\n                            scope.send({\n                                topic: aoi,\n                                payload: area\n                            });\n                        }\n                    });\n                }\n                selectArea.setSelection(\n                    parseInt(msg.payload.x1 / 1000 * imageWidth),\n                    parseInt(msg.payload.y1 / 1000 * imageHeight),\n                    parseInt(msg.payload.x2 / 1000 * imageWidth),\n                    parseInt(msg.payload.y2 / 1000 * imageHeight)\n                );\n                selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n\n    if( selectArea )\n        selectArea.setOptions({ hide: true });\n        selectArea = null;\n    }\n\nfunction setupImage( scope, data ) {\n    var rotation = data.rotation || \"Landscape\";\n    var aspect = data.aspect || \"16:9\";\n    imageWidth = 800; //Default for 16:9\n    imageHeight = 450;\n    videoWidth = 1280; \n    videoHeight = 720;\n\n\n    if(aspect === \"1:1\") {\n        imageHeight = 800;\n        videoWidth = 800; \n        videoHeight = 800;\n    }\n\n    if(aspect === \"4:3\") {\n        imageHeight = 600;\n        videoWidth = 800; \n        videoHeight = 600;\n    }\n\n//Setup aspect ration\n    if(rotation === \"Portrait\" ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    if( data.hasOwnProperty(\"image\") && data.image )\n        $(\"#image_\"+scope.$id).attr(\"src\",\"data:image/jpeg;base64,\" + data.image);\n    else\n        $(\"#image_\"+scope.$id).attr(\"src\",\"data:image/jpeg;base64, \");\n\n    var canvas = document.getElementById(\"canvas_\"+scope.$id);\n    ctx = canvas.getContext(\"2d\");\n}\n\nfunction drawPath( data ) {\n    if(!ctx)\n        return;\n\n    var first = data.path[0];\n    var last = data.path[data.path.length-1];\n\n    ctx.globalAlpha = strength;\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#00FF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.moveTo(first.x, first.y );\n    ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n// ctx.fillText(data.class, first.x, first.y - 10 );\n    ctx.stroke();\n\n    ctx.beginPath();\n    ctx.strokeStyle = '#FFFF00';\n    ctx.moveTo(data.path[0].x, data.path[0].y );\n    for( var i = 1; i < data.path.length; i++ )\n        ctx.lineTo(data.path[i].x,data.path[i].y ); ctx.lineTo(last.x,last.y );\n    ctx.stroke();\n    ctx.beginPath();\n    ctx.lineWidth=3;\n    ctx.strokeStyle='#FF0000';\n    ctx.moveTo(last.x, last.y );\n    ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI);\n    ctx.stroke();\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 320,
        "wires": [
            [
                "c04894acbcc047c3"
            ]
        ]
    },
    {
        "id": "92a43414ebe67856",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "paths",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "f031690982b2c931",
                "fb642bec0ba2f1cd"
            ]
        ]
    },
    {
        "id": "d2666e7dc9fd19e4",
        "type": "ui_slider",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "",
        "label": "Strength",
        "tooltip": "",
        "group": "45db6a3eb8460311",
        "order": 5,
        "width": "13",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "strength",
        "topicType": "str",
        "min": "5",
        "max": "100",
        "step": "0.5",
        "className": "",
        "x": 600,
        "y": 700,
        "wires": [
            [
                "acd5e94d6e601bd2"
            ]
        ]
    },
    {
        "id": "305d751beed0fb75",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "strength",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "strength",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 700,
        "wires": [
            [
                "d2666e7dc9fd19e4"
            ]
        ]
    },
    {
        "id": "acd5e94d6e601bd2",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "strength",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "strength",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 700,
        "wires": [
            [
                "0e4252bd65a5df23"
            ]
        ]
    },
    {
        "id": "1da8b74e8dd85804",
        "type": "ui_numeric",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "",
        "label": "Min Age (seconds)",
        "tooltip": "",
        "group": "aa6698f4de177a5f",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 630,
        "y": 860,
        "wires": [
            [
                "f2bba8c8622cbd9a"
            ]
        ]
    },
    {
        "id": "88325b2f69f348e7",
        "type": "ui_numeric",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "",
        "label": "Min Distance (% of view)",
        "tooltip": "",
        "group": "aa6698f4de177a5f",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 650,
        "y": 900,
        "wires": [
            [
                "8f43a040405ad1bf"
            ]
        ]
    },
    {
        "id": "f2bba8c8622cbd9a",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "8f43a040405ad1bf",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "bf9a90279602f114",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "flow.age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "age",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 860,
        "wires": [
            [
                "1da8b74e8dd85804"
            ]
        ]
    },
    {
        "id": "a1a1317554ec9f42",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "flow.distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "distance",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 900,
        "wires": [
            [
                "88325b2f69f348e7"
            ]
        ]
    },
    {
        "id": "b03c36ad180ab7b3",
        "type": "ui_dropdown",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "Class selection",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "aa6698f4de177a5f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Motorcycle",
                "value": "Motorcycle",
                "type": "str"
            },
            {
                "label": "Other vehicle type",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "Face",
                "value": "Face",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            },
            {
                "label": "Unknown type",
                "value": "Object",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 620,
        "y": 820,
        "wires": [
            [
                "d7bab374b2fc3594"
            ]
        ]
    },
    {
        "id": "d7bab374b2fc3594",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "flow.classes",
        "rules": [
            {
                "t": "set",
                "p": "classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "af336bbaeb09bc1e",
        "type": "function",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "Classes",
        "func": "msg.options = [ \"Human\", \"Car\", \"Truck\", \"Bus\", \"Motorcycle\", \"Vehicle\", \"Face\", \"License plate\", \"Object\" ];\nif( !flow.get(\"classes\") ) {\n    msg.payload = [ \"Human\", \"Car\", \"Truck\", \"Bus\", \"Motorcycle\", \"Vehicle\" ];\n} else {\n    msg.payload = flow.get(\"classes\");\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 820,
        "wires": [
            [
                "b03c36ad180ab7b3"
            ]
        ]
    },
    {
        "id": "ef7a23510f1b8312",
        "type": "ui_button",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "",
        "group": "aa6698f4de177a5f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set area objects must pass",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "0eb13c442166987d"
            ]
        ]
    },
    {
        "id": "0eb13c442166987d",
        "type": "function",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "aoi",
        "func": "msg.topic = \"aoi\";\nmsg.payload = flow.get(\"aoi\") || {\n    id: \"aoi\",\n    x1: 200,\n    y1: 200,\n    x2: 800,\n    y2: 800\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 400,
        "wires": [
            [
                "f031690982b2c931"
            ]
        ]
    },
    {
        "id": "d4022565d5ef248b",
        "type": "ui_button",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "",
        "group": "aa6698f4de177a5f",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "aoi",
        "topicType": "str",
        "x": 670,
        "y": 440,
        "wires": [
            [
                "f031690982b2c931"
            ]
        ]
    },
    {
        "id": "c04894acbcc047c3",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0e4252bd65a5df23",
        "type": "link out",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "c434fc4038a69c01"
        ],
        "x": 1055,
        "y": 700,
        "wires": []
    },
    {
        "id": "c434fc4038a69c01",
        "type": "link in",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "link in 1",
        "links": [
            "0e4252bd65a5df23",
            "dcfabc372e3dc197",
            "4be7183bedd5dbef"
        ],
        "x": 635,
        "y": 360,
        "wires": [
            [
                "f031690982b2c931"
            ]
        ]
    },
    {
        "id": "273965d4c36db0da",
        "type": "inject",
        "z": "e7e00ee978d3ba17",
        "g": "6ec657ea73f13536",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "f3f71084a066bce3"
            ]
        ]
    },
    {
        "id": "f3f71084a066bce3",
        "type": "function",
        "z": "e7e00ee978d3ba17",
        "g": "6ec657ea73f13536",
        "name": "Data Retention",
        "func": "var days = 30;\n//Change above to desired number of days to retain data\n\nmsg.payload = {\n    device: flow.get(\"device\").serial || \"Undefined\",\n    timestamp: {\n        $lte: new Date().getTime() - (days * 24 * 3600 * 1000)\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "ee9ef2438615bdfd"
            ]
        ]
    },
    {
        "id": "080a22203e2e06ea",
        "type": "ui_button",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "",
        "group": "45db6a3eb8460311",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Refresh image",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "c1ead8be70d916cd"
            ]
        ]
    },
    {
        "id": "cf7c96a415037ce5",
        "type": "Camera",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "resolution": "1280x720",
        "overlay": "no",
        "output": "base64",
        "x": 620,
        "y": 520,
        "wires": [
            [
                "f01e249eb3657960"
            ]
        ]
    },
    {
        "id": "f01e249eb3657960",
        "type": "function",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "Image",
        "func": "msg.topic = \"image\";\nvar image = msg.payload;\nmsg.payload = flow.get(\"camera\");\nmsg.payload.image = image;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 520,
        "wires": [
            [
                "f031690982b2c931",
                "c7d73f9bfebb6a64"
            ]
        ]
    },
    {
        "id": "c7d73f9bfebb6a64",
        "type": "function",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "Update",
        "func": "msg.query = {\n    device: flow.get(\"device\").serial || \"Undefined\"\n}\n\nmsg.payload = {\n    device: flow.get(\"device\").serial || \"Undefined\",\n    name: flow.get(\"name\") || flow.get(\"device\").hostname || flow.get(\"device\").name,\n    timestamp: new Date().getTime(),\n    rotation: msg.payload.rotation,\n    aspect: msg.payload.aspect,\n    image: msg.payload.image\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 520,
        "wires": [
            [
                "c060942c8eb1324d"
            ]
        ]
    },
    {
        "id": "97a0add6ed4182ff",
        "type": "inject",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "Every hour",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 560,
        "wires": [
            [
                "c1ead8be70d916cd"
            ]
        ]
    },
    {
        "id": "ee9ef2438615bdfd",
        "type": "mongodb out",
        "z": "e7e00ee978d3ba17",
        "g": "6ec657ea73f13536",
        "mongodb": "",
        "name": "Remove",
        "collection": "path",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "c060942c8eb1324d",
        "type": "mongodb out",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "mongodb": "",
        "name": "Update",
        "collection": "image",
        "payonly": true,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 1200,
        "y": 520,
        "wires": []
    },
    {
        "id": "3b4bcf8cb5d85e97",
        "type": "mongodb in",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "mongodb": "",
        "name": "Query",
        "collection": "path",
        "operation": "find",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "92a43414ebe67856"
            ]
        ]
    },
    {
        "id": "ed4aa8e7b7dc9b02",
        "type": "ui_dropdown",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "Aspect",
        "label": "Image aspect",
        "tooltip": "",
        "place": "Select aspect",
        "group": "aa6698f4de177a5f",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "16:9",
                "value": "16:9",
                "type": "str"
            },
            {
                "label": "4:3",
                "value": "4:3",
                "type": "str"
            },
            {
                "label": "1:1",
                "value": "1:1",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "aspect",
        "topicType": "str",
        "className": "",
        "x": 780,
        "y": 980,
        "wires": [
            [
                "880e5ac7cb738de5"
            ]
        ]
    },
    {
        "id": "880e5ac7cb738de5",
        "type": "function",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "flow.camera",
        "func": "var camera = flow.get(\"camera\");\nswitch(msg.topic) {\n    case \"aspect\":\n        camera.aspect = msg.payload;\n        break;\n    case \"rotation\":\n        camera.rotation = msg.payload;\n        break;\n}\n\nflow.set(\"camera\",camera);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 980,
        "wires": [
            [
                "fc0b1ab7563f0da7"
            ]
        ]
    },
    {
        "id": "d8bd419441bad68f",
        "type": "function",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "flow.camera",
        "func": "msg.payload = flow.get(\"camera\") || {\n    aspect: \"16:9\",\n    rotation: \"Landscape\",\n    image: \"\"\n}    \nflow.set(\"camera\",msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 980,
        "wires": [
            [
                "67f18e799dff5199",
                "b98bb15092ccfb27"
            ]
        ]
    },
    {
        "id": "67f18e799dff5199",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.aspect",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 980,
        "wires": [
            [
                "ed4aa8e7b7dc9b02"
            ]
        ]
    },
    {
        "id": "2dfd43a206c929d6",
        "type": "ui_dropdown",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "Rotation",
        "label": "Image rotation",
        "tooltip": "",
        "place": "Select rotation",
        "group": "aa6698f4de177a5f",
        "order": 8,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Landscape",
                "value": "Landscape",
                "type": "str"
            },
            {
                "label": "Portrait",
                "value": "Portrait",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "rotation",
        "topicType": "str",
        "className": "",
        "x": 780,
        "y": 1020,
        "wires": [
            [
                "880e5ac7cb738de5"
            ]
        ]
    },
    {
        "id": "b98bb15092ccfb27",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rotation",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1020,
        "wires": [
            [
                "2dfd43a206c929d6"
            ]
        ]
    },
    {
        "id": "5f3e417dce2a731e",
        "type": "link in",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "link in 2",
        "links": [
            "fc0b1ab7563f0da7"
        ],
        "x": 355,
        "y": 560,
        "wires": [
            [
                "c1ead8be70d916cd"
            ]
        ]
    },
    {
        "id": "fc0b1ab7563f0da7",
        "type": "link out",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "5f3e417dce2a731e"
        ],
        "x": 1065,
        "y": 980,
        "wires": []
    },
    {
        "id": "fb642bec0ba2f1cd",
        "type": "ui_table",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "group": "c503712eb42ad81a",
        "name": "",
        "order": 0,
        "width": "14",
        "height": "16",
        "columns": [
            {
                "field": "localTime",
                "title": "Time",
                "width": "30%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "class",
                "title": "Class",
                "width": "18%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "confidence",
                "title": "Confidence",
                "width": "18%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "age",
                "title": "Age",
                "width": "16%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "distance",
                "title": "DIstance",
                "width": "18%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 910,
        "y": 360,
        "wires": [
            [
                "0454fa8ce9e33224"
            ]
        ]
    },
    {
        "id": "c1ead8be70d916cd",
        "type": "function",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "Resolution",
        "func": "var camera = flow.get(\"camera\");\nif(!camera)\n    return;\n\nswitch( camera.aspect ) {\n    case \"4:3\":\n        msg.resolution = \"800x600\"\n        break;\n    case \"1:1\":\n        msg.resolution = \"800x800\"\n        break;\n    case \"16:9\":\n    default:\n        msg.resolution = \"1280x720\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 520,
        "wires": [
            [
                "cf7c96a415037ce5"
            ]
        ]
    },
    {
        "id": "dcfabc372e3dc197",
        "type": "link out",
        "z": "e7e00ee978d3ba17",
        "g": "6ec657ea73f13536",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "c434fc4038a69c01"
        ],
        "x": 675,
        "y": 140,
        "wires": []
    },
    {
        "id": "0454fa8ce9e33224",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "singlePath",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 360,
        "wires": [
            [
                "4be7183bedd5dbef"
            ]
        ]
    },
    {
        "id": "4be7183bedd5dbef",
        "type": "link out",
        "z": "e7e00ee978d3ba17",
        "g": "0e2d668daf0278ba",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "c434fc4038a69c01"
        ],
        "x": 1225,
        "y": 360,
        "wires": []
    },
    {
        "id": "a1ea8f059a34decd",
        "type": "function",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "name",
        "func": "msg.payload = flow.get(\"name\") || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 740,
        "wires": [
            [
                "d756fc37a9bdfdbf"
            ]
        ]
    },
    {
        "id": "d756fc37a9bdfdbf",
        "type": "ui_text_input",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "",
        "label": "Name",
        "tooltip": "",
        "group": "aa6698f4de177a5f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 590,
        "y": 740,
        "wires": [
            [
                "f0bc18daf3fb8b9c"
            ]
        ]
    },
    {
        "id": "f0bc18daf3fb8b9c",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "flow.name",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "35376f79b2d3a2e8",
        "type": "function",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "Confidence",
        "func": "msg.payload = flow.get(\"confidence\") || 10;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 780,
        "wires": [
            [
                "37840460d19f7213"
            ]
        ]
    },
    {
        "id": "37840460d19f7213",
        "type": "ui_dropdown",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "Confidence selection",
        "label": "Min confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "aa6698f4de177a5f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 640,
        "y": 780,
        "wires": [
            [
                "330956ac1634cf73"
            ]
        ]
    },
    {
        "id": "330956ac1634cf73",
        "type": "change",
        "z": "e7e00ee978d3ba17",
        "g": "cd9a131423c46d3d",
        "name": "flow.confidence",
        "rules": [
            {
                "t": "set",
                "p": "confidence",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "025326aff71002bd",
        "type": "mongodb out",
        "z": "e7e00ee978d3ba17",
        "g": "6ec657ea73f13536",
        "mongodb": "",
        "name": "Insert",
        "collection": "path",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "8851e1ed423632f9",
        "type": "Device Access",
        "name": "localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "c503712eb42ad81a",
        "type": "ui_group",
        "name": "Table",
        "tab": "6551691bcf514348",
        "order": 4,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "45db6a3eb8460311",
        "type": "ui_group",
        "name": "Heatmap",
        "tab": "6551691bcf514348",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa6698f4de177a5f",
        "type": "ui_group",
        "name": "Settings",
        "tab": "6551691bcf514348",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6551691bcf514348",
        "type": "ui_tab",
        "name": "Path Ingestion",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
