flows/Path Heatmap MongoDB.json
[
    {
        "id": "54ec08e47ae0b393",
        "type": "tab",
        "label": "Path Heatmap MongoDB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b8e78e64c4535b2c",
        "type": "group",
        "z": "54ec08e47ae0b393",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e24b99a62554b248",
            "4dd2c96a7ab44d82",
            "aa3e8201bf493cfb",
            "9a313cb32e51a0f3",
            "8233373cc77cec0d",
            "1f1741eec88abaad",
            "7ed6ea945ba9e57c",
            "1bbd6e4f564650ca",
            "232497ddc18129aa",
            "2422aecd7a546654",
            "620c018121bf867c",
            "9459851e9e751786",
            "4f80cba157dec51c",
            "8398af64ef8eea71",
            "ce8ed62295c9319a",
            "142dfd54326e842f",
            "101bd53935927263",
            "1e637ce002e7d473",
            "3770f7edd278ef78",
            "ab0dbdfb1c5c1b6f",
            "49fd12da297f205b",
            "fd4f7eeb1cfc68a4",
            "01f03c6645977080"
        ],
        "x": 74,
        "y": 579,
        "w": 1002,
        "h": 322
    },
    {
        "id": "d05c05050f1de5f8",
        "type": "group",
        "z": "54ec08e47ae0b393",
        "name": "Dashboard",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f29ce6acf9622a27",
            "6d146612e87385a9",
            "8185b4081c8f5eb6",
            "14164bfae7280c40",
            "65cd904d0d74d8c0",
            "a43fce8bbb64b47f",
            "7ce23b065b8894a9",
            "66cded82cb3eb564",
            "7d1ebdf2d0cb0c4e",
            "22076c5bc3a68e6e",
            "3a08c21e7a3620b2",
            "9b281a7b5c0518b7",
            "1880cbce70661f7c"
        ],
        "x": 74,
        "y": 219,
        "w": 1092,
        "h": 322
    },
    {
        "id": "5bfc862cb1a6d63b",
        "type": "group",
        "z": "54ec08e47ae0b393",
        "name": "Data Ingestion",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9b48aed9d9bbbc10",
            "03783f9b780231f8",
            "841840ca90b3b38f",
            "6d201c1d9b3d8151",
            "86ea3100dfc72788",
            "23c44e6739822bfe",
            "4089fdd00d098873"
        ],
        "x": 74,
        "y": 39,
        "w": 652,
        "h": 142
    },
    {
        "id": "9b48aed9d9bbbc10",
        "type": "Objects",
        "z": "54ec08e47ae0b393",
        "g": "5bfc862cb1a6d63b",
        "version": "1",
        "output": "3",
        "classFilter": "-1",
        "confidence": "10",
        "rotation": "0",
        "cog": "1",
        "predictions": "0",
        "idle": "3",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "841840ca90b3b38f"
            ]
        ]
    },
    {
        "id": "03783f9b780231f8",
        "type": "function",
        "z": "54ec08e47ae0b393",
        "g": "5bfc862cb1a6d63b",
        "name": "Set name",
        "func": "msg.payload.device = global.get(\"device\").serial;\nmsg.payload.name = flow.get(\"device\").hostname || flow.get(\"device\").name;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 80,
        "wires": [
            [
                "6d201c1d9b3d8151"
            ]
        ]
    },
    {
        "id": "841840ca90b3b38f",
        "type": "function",
        "z": "54ec08e47ae0b393",
        "g": "5bfc862cb1a6d63b",
        "name": "Filter",
        "func": "//Filter minimum distance\nvar distance = flow.get(\"distance\") || 0;\nif( msg.payload.distance < distance)  \n    return;\n\n\n//Filter minimum age\nvar age = flow.get(\"age\") || 0;\nif( msg.payload.age < age)  \n    return;\n\n//Filter object class type\nvar classes= flow.get(\"classes\");\nvar ignoreClass = true;\nclasses.forEach(function(element) {\n    if( element === msg.payload.class)\n        ignoreClass = false;\n});\nif(ignoreClass)\n    return;\n\n//Filter object passed Area Of Intrest\nvar aoi = flow.get(\"aoi\") ||null;\nif( aoi ) {\n    var ignore = true;\n    msg.payload.path.forEach(function(position) {\n        if (ignore && \n            position.x >= aoi.x1 && \n            position.x <= aoi.x2 &&\n            position.y >= aoi.y1 &&\n            position.y <= aoi.y2)\n                ignore = false;\n    });\n    if( ignore )\n        return;\n}\n\n//All filters passed\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "03783f9b780231f8"
            ]
        ]
    },
    {
        "id": "e24b99a62554b248",
        "type": "Axis device",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "",
        "preset": "8851e1ed423632f9",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 590,
        "y": 860,
        "wires": [
            [
                "aa3e8201bf493cfb"
            ]
        ]
    },
    {
        "id": "4dd2c96a7ab44d82",
        "type": "inject",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "9a313cb32e51a0f3",
                "1f1741eec88abaad",
                "1bbd6e4f564650ca",
                "9459851e9e751786",
                "fd4f7eeb1cfc68a4",
                "1e637ce002e7d473",
                "3770f7edd278ef78"
            ]
        ]
    },
    {
        "id": "aa3e8201bf493cfb",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "9a313cb32e51a0f3",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "Authentication",
        "rules": [
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "localhost",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "root",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "pass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 860,
        "wires": [
            [
                "e24b99a62554b248"
            ]
        ]
    },
    {
        "id": "f29ce6acf9622a27",
        "type": "ui_button",
        "z": "54ec08e47ae0b393",
        "g": "d05c05050f1de5f8",
        "name": "Query",
        "group": "742930118b7d2c99",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Query",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "6d146612e87385a9"
            ]
        ]
    },
    {
        "id": "8233373cc77cec0d",
        "type": "ui_dropdown",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "From",
        "label": "From",
        "tooltip": "",
        "place": "Select option",
        "group": "742930118b7d2c99",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "today",
                "value": "today",
                "type": "str"
            },
            {
                "label": "yesterday",
                "value": "yesterday",
                "type": "str"
            },
            {
                "label": "Last 30 miniutes",
                "value": 0.5,
                "type": "num"
            },
            {
                "label": "Last hour",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Last 2 hours",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Last 3 hours",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Last 6 hours",
                "value": 6,
                "type": "num"
            },
            {
                "label": "Last 12 hours",
                "value": 12,
                "type": "num"
            },
            {
                "label": "Last day",
                "value": "24",
                "type": "str"
            },
            {
                "label": "Last 2 days",
                "value": "48",
                "type": "str"
            },
            {
                "label": "Last 7 days",
                "value": "168",
                "type": "str"
            },
            {
                "label": "Last 2 weeks",
                "value": "336",
                "type": "str"
            },
            {
                "label": "Last 4 weeks",
                "value": "672",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 570,
        "y": 660,
        "wires": [
            [
                "2422aecd7a546654"
            ]
        ]
    },
    {
        "id": "1f1741eec88abaad",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "flow.startTime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "startTime",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 660,
        "wires": [
            [
                "8233373cc77cec0d"
            ]
        ]
    },
    {
        "id": "7ed6ea945ba9e57c",
        "type": "ui_dropdown",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "Period",
        "label": "Period",
        "tooltip": "",
        "place": "Select option",
        "group": "742930118b7d2c99",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Until now",
                "value": 0,
                "type": "num"
            },
            {
                "label": "1 day",
                "value": 1,
                "type": "num"
            },
            {
                "label": "1 week",
                "value": 7,
                "type": "num"
            },
            {
                "label": "1 month",
                "value": 30,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 570,
        "y": 700,
        "wires": [
            [
                "232497ddc18129aa"
            ]
        ]
    },
    {
        "id": "1bbd6e4f564650ca",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "stopTime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stopTime",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 700,
        "wires": [
            [
                "7ed6ea945ba9e57c"
            ]
        ]
    },
    {
        "id": "232497ddc18129aa",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stopTime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "2422aecd7a546654",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "startTime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "6d146612e87385a9",
        "type": "function",
        "z": "54ec08e47ae0b393",
        "g": "d05c05050f1de5f8",
        "name": "Query",
        "func": "var startTime = flow.get(\"startTime\") || \"today\";\nif (startTime === \"today\" || startTime === \"yesterday\") {\n    if( startTime === \"today\") {\n        var d = new Date();\n        d.setHours(0,0,0,0);\n        startTime = d.getTime();\n    }\n    if (startTime === \"yesterday\") {\n        var d = new Date();\n        d.setDate(d.getDate() - 1);\n        d.setHours(0, 0, 0, 0);\n        startTime = d.getTime();\n    }\n} else {\n    startTime = new Date().getTime() - (startTime * 3600 * 1000);\n}\n\nvar stopTime = flow.get(\"stopTime\") || 0;\n\nif( stopTime > 0 ) {\n    stopTime = startTime + (stopTime * 24 * 3600 * 1000);\n}\n\nmsg.payload = {\n    device: flow.get(\"device\").serial || \"Undefined\",\n    timestamp: {\n        $gte: startTime\n    }\n}\n\nif( stopTime > 0 )\n    msg.payload.timestam.$lte = stopTime\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 260,
        "wires": [
            [
                "8185b4081c8f5eb6"
            ]
        ]
    },
    {
        "id": "14164bfae7280c40",
        "type": "ui_template",
        "z": "54ec08e47ae0b393",
        "g": "d05c05050f1de5f8",
        "group": "742930118b7d2c99",
        "name": "Augmented Video",
        "order": 6,
        "width": "16",
        "height": "9",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n\n<div id=\"{{'player_'+$id}}\"></div>\n\n<script>\nvar ctx = null;\nvar imageWidth = 1280;\nvar imageHeight = 720;\nvar viewWidth = 800;\nvar viewHeight = 450;\nvar selectBox = null;\nvar hold = true;\nvar boxId = \"None\";\nvar strength = 0.5;\nvar pathList = [];\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n}\n\nfunction setupVideo( scope, video ) {\n  var width = video.width || 1280;\n  var height = video.height || 720;\n  var rotation = video.rotation || 0;\n  var aspect = video.aspect || \"16:6\";\n        \n  $(\"#player_\"+scope.$id).empty();\n        \n  //Setup view area aspect ration\n  if(rotation == 90 || rotation == 270 ) {\n    $(\"#player_\"+scope.$id).append('<div id=\"view_' + scope.$id + '\" style=\"width:450px; height:800px;\">');\n  } else {\n    $(\"#player_\"+scope.$id).append('<div id=\"view_' + scope.$id + '\" style=\"width:800px; height:450px;\">');\n  }\n\n  $(\"#view_\"+scope.$id).append('<div id=\"canvas_'+ scope.$id + '\" style=\"width:100%; height:100%; position:relative\">');\n  $(\"#canvas_\"+scope.$id).append('<img id=\"image_' + scope.$id + '\" class=\"card-img-top\" src=\"\" alt=\"Image\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">');\n  $(\"#canvas_\"+scope.$id).append('<canvas id=\"objects_' + scope.$id + '\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>');\n        \n  $(\"#image_\"+scope.$id).attr('src','http://'+window.location.hostname+'/axis-cgi/jpg/image.cgi?resolution='+width+'x'+height+'&_='+new Date().getTime());\n  canvas = document.getElementById(\"objects_\"+scope.$id);\n  ctx = canvas.getContext(\"2d\");\n}\n\nfunction drawPath( data ) {\n  if(!ctx)\n      return;\n\n  var first = data.path[0];\n  var last = data.path[data.path.length-1];\n\n  ctx.globalAlpha = strength;\n  ctx.beginPath();\n  ctx.lineWidth = 3;\n  ctx.strokeStyle = '#00FF00';\n  ctx.font = \"30px Arial\";\n  ctx.fillStyle = '#FFFF00';    \n  ctx.moveTo(first.x, first.y );\n  ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n//  ctx.fillText(data.class, first.x, first.y - 10 );\n  ctx.stroke();\t\n\n  ctx.beginPath();\n  ctx.strokeStyle = '#FFFF00';\n  ctx.moveTo(data.path[0].x, data.path[0].y );\n  for( var i = 1; i < data.path.length; i++ )\n      ctx.lineTo(data.path[i].x,data.path[i].y );\n  ctx.lineTo(last.x,last.y );\n  ctx.stroke();\t\n\n  ctx.beginPath();\n  ctx.lineWidth = 3;\n  ctx.strokeStyle = '#FF0000';\n  ctx.moveTo(last.x, last.y );\n  ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI);\n  ctx.stroke();\t\n}\n\n\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (!msg)\n      return;\n    console.log(msg.topic);\n\n    switch( msg.topic ) {\n      case \"video\":\n          setupVideo(scope,msg.payload);\n        break;\n\n      case \"path\":\n          drawPath( msg.payload );\n        break;\n\n      case \"paths\":\n          pathList = msg.payload;\n          ClearCanvas();\n          msg.payload.forEach(function(path){\n            drawPath( path );\n          });\n        break;\n\n      case \"strength\":\n          ClearCanvas();\n          strength = msg.payload;\n          pathList.forEach( function(path) {\n            drawPath( path );\n          });\n        break;\n\n      case \"reset\":\n          ClearCanvas();\n        break;\n\n      case \"aoi\":\n          if( selectBox ) {\n            selectBox.setOptions({hide: true});\n            selectBox = null;\n          }\n          if( typeof msg.payload !== \"object\" )\n            return;\n          boxId = msg.payload.id || \"None\";\n          selectBox = $(\"#image_\"+scope.$id).imgAreaSelect({\n            x1: parseInt((msg.payload.x1 / 1000) * viewWidth),\n            y1: parseInt((msg.payload.y1 / 1000) * viewHeight),\n            x2: parseInt((msg.payload.x2 / 1000) * viewWidth),\n            y2: parseInt((msg.payload.y2 / 1000) * viewHeight),\n            minHeight: 20,\n            minWidth: 20,\n            handles: true,\n            enable:true,movable:true,resizable:true,show:true,\n            instance: true,\n            onSelectEnd: function( image, area ) {\n              var box = {\n                id: boxId,\n                x1: parseInt((area.x1 / viewWidth) * 1000),\n                x2: parseInt((area.x2 / viewWidth) * 1000),\n                y1: parseInt((area.y1 / viewHeight) * 1000),\n                y2: parseInt((area.y2 / viewHeight) * 1000)\n              }\n             scope.send({topic:boxId||\"none\",payload:box});\n            }\n          });\n          selectBox.setOptions({show: true});\n        break;\n    }\n  });\n})(scope);\n</script>\n\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 890,
        "y": 260,
        "wires": [
            [
                "7d1ebdf2d0cb0c4e"
            ]
        ]
    },
    {
        "id": "65cd904d0d74d8c0",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "d05c05050f1de5f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "paths",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "14164bfae7280c40"
            ]
        ]
    },
    {
        "id": "620c018121bf867c",
        "type": "ui_slider",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "",
        "label": "Strength",
        "tooltip": "",
        "group": "742930118b7d2c99",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "strength",
        "topicType": "str",
        "min": "0.005",
        "max": "0.5",
        "step": "0.005",
        "className": "",
        "x": 580,
        "y": 620,
        "wires": [
            [
                "4f80cba157dec51c"
            ]
        ]
    },
    {
        "id": "9459851e9e751786",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "strength",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "strength",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 620,
        "wires": [
            [
                "620c018121bf867c"
            ]
        ]
    },
    {
        "id": "4f80cba157dec51c",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "strength",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "strength",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 620,
        "wires": [
            [
                "01f03c6645977080"
            ]
        ]
    },
    {
        "id": "8398af64ef8eea71",
        "type": "ui_numeric",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "",
        "label": "Min Age (seconds)",
        "tooltip": "",
        "group": "d44e7fb5bb64a687",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 610,
        "y": 780,
        "wires": [
            [
                "142dfd54326e842f"
            ]
        ]
    },
    {
        "id": "ce8ed62295c9319a",
        "type": "ui_numeric",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "",
        "label": "Min Distance (% of view)",
        "tooltip": "",
        "group": "d44e7fb5bb64a687",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 630,
        "y": 820,
        "wires": [
            [
                "101bd53935927263"
            ]
        ]
    },
    {
        "id": "142dfd54326e842f",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "101bd53935927263",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "1e637ce002e7d473",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "flow.age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "age",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 780,
        "wires": [
            [
                "8398af64ef8eea71"
            ]
        ]
    },
    {
        "id": "3770f7edd278ef78",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "flow.distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "distance",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 820,
        "wires": [
            [
                "ce8ed62295c9319a"
            ]
        ]
    },
    {
        "id": "ab0dbdfb1c5c1b6f",
        "type": "ui_dropdown",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "Class selection",
        "label": "",
        "tooltip": "",
        "place": "Select detection",
        "group": "d44e7fb5bb64a687",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Motorcycle",
                "value": "Motorcycle",
                "type": "str"
            },
            {
                "label": "Other vehicle type",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "Face",
                "value": "Face",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            },
            {
                "label": "Unknown type",
                "value": "Object",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 600,
        "y": 740,
        "wires": [
            [
                "49fd12da297f205b"
            ]
        ]
    },
    {
        "id": "49fd12da297f205b",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "flow.classes",
        "rules": [
            {
                "t": "set",
                "p": "classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "fd4f7eeb1cfc68a4",
        "type": "function",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "Classes",
        "func": "msg.options = [ \"Human\", \"Car\", \"Truck\", \"Bus\", \"Motorcycle\", \"Vehicle\", \"Face\", \"License plate\", \"Object\" ];\nif( !flow.get(\"classes\") ) {\n    msg.payload = [ \"Human\", \"Car\", \"Truck\", \"Bus\", \"Motorcycle\", \"Vehicle\" ];\n} else {\n    msg.payload = flow.get(\"classes\");\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 740,
        "wires": [
            [
                "ab0dbdfb1c5c1b6f"
            ]
        ]
    },
    {
        "id": "a43fce8bbb64b47f",
        "type": "ui_button",
        "z": "54ec08e47ae0b393",
        "g": "d05c05050f1de5f8",
        "name": "",
        "group": "d44e7fb5bb64a687",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set area objects must pass",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "7ce23b065b8894a9"
            ]
        ]
    },
    {
        "id": "7ce23b065b8894a9",
        "type": "function",
        "z": "54ec08e47ae0b393",
        "g": "d05c05050f1de5f8",
        "name": "aoi",
        "func": "msg.topic = \"aoi\";\nmsg.payload = flow.get(\"aoi\") || {\n    id: \"aoi\",\n    x1: 200,\n    y1: 200,\n    x2: 800,\n    y2: 800\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 380,
        "wires": [
            [
                "14164bfae7280c40"
            ]
        ]
    },
    {
        "id": "66cded82cb3eb564",
        "type": "ui_button",
        "z": "54ec08e47ae0b393",
        "g": "d05c05050f1de5f8",
        "name": "",
        "group": "d44e7fb5bb64a687",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "aoi",
        "topicType": "str",
        "x": 650,
        "y": 440,
        "wires": [
            [
                "14164bfae7280c40"
            ]
        ]
    },
    {
        "id": "7d1ebdf2d0cb0c4e",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "d05c05050f1de5f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "01f03c6645977080",
        "type": "link out",
        "z": "54ec08e47ae0b393",
        "g": "b8e78e64c4535b2c",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "22076c5bc3a68e6e"
        ],
        "x": 1035,
        "y": 620,
        "wires": []
    },
    {
        "id": "22076c5bc3a68e6e",
        "type": "link in",
        "z": "54ec08e47ae0b393",
        "g": "d05c05050f1de5f8",
        "name": "link in 1",
        "links": [
            "01f03c6645977080"
        ],
        "x": 685,
        "y": 500,
        "wires": [
            [
                "14164bfae7280c40"
            ]
        ]
    },
    {
        "id": "86ea3100dfc72788",
        "type": "inject",
        "z": "54ec08e47ae0b393",
        "g": "5bfc862cb1a6d63b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "23c44e6739822bfe"
            ]
        ]
    },
    {
        "id": "23c44e6739822bfe",
        "type": "function",
        "z": "54ec08e47ae0b393",
        "g": "5bfc862cb1a6d63b",
        "name": "Data Retention",
        "func": "//Remove paths older than 24 hours\n\nmsg.payload = {\n    device: flow.get(\"device\").serial || \"Undefined\",\n    timestamp: {\n        $lte: new Date().getTime() - (24*3600*1000)\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "4089fdd00d098873"
            ]
        ]
    },
    {
        "id": "6d201c1d9b3d8151",
        "type": "mongodb out",
        "z": "54ec08e47ae0b393",
        "g": "5bfc862cb1a6d63b",
        "mongodb": "",
        "name": "Insert",
        "collection": "path",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "4089fdd00d098873",
        "type": "mongodb out",
        "z": "54ec08e47ae0b393",
        "g": "5bfc862cb1a6d63b",
        "mongodb": "",
        "name": "Remove",
        "collection": "path",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "8185b4081c8f5eb6",
        "type": "mongodb in",
        "z": "54ec08e47ae0b393",
        "g": "d05c05050f1de5f8",
        "mongodb": "",
        "name": "Query",
        "collection": "path",
        "operation": "find",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "65cd904d0d74d8c0"
            ]
        ]
    },
    {
        "id": "3a08c21e7a3620b2",
        "type": "ui_button",
        "z": "54ec08e47ae0b393",
        "g": "d05c05050f1de5f8",
        "name": "",
        "group": "742930118b7d2c99",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Refresh image",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "9b281a7b5c0518b7"
            ]
        ]
    },
    {
        "id": "9b281a7b5c0518b7",
        "type": "template",
        "z": "54ec08e47ae0b393",
        "g": "d05c05050f1de5f8",
        "name": "Image settings",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"width\": 1280,\n    \"height\": 720,\n    \"aspect\": \"16:9\",\n    \"rotation\": 0\n}",
        "output": "json",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "1880cbce70661f7c"
            ]
        ]
    },
    {
        "id": "1880cbce70661f7c",
        "type": "change",
        "z": "54ec08e47ae0b393",
        "g": "d05c05050f1de5f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "video",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "14164bfae7280c40"
            ]
        ]
    },
    {
        "id": "8851e1ed423632f9",
        "type": "Device Access",
        "name": "localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "742930118b7d2c99",
        "type": "ui_group",
        "name": "Heatmap",
        "tab": "d66ae0a50453298f",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d44e7fb5bb64a687",
        "type": "ui_group",
        "name": "Filter",
        "tab": "d66ae0a50453298f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d66ae0a50453298f",
        "type": "ui_tab",
        "name": "Path flow heatmap",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
